<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        button {
            float: right;
        }

        .container {
            padding: 18%;
        }

        fieldset {
            border: 1px;
        }
    </style>
</head>

<body>

    <div class="container">
        <fieldset>
            <legend>Log IN</legend>
            <div id="loginform" method="POST" class="form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input required name="username" type="text" class="form-control" id="username"
                        aria-describedby="emailHelp" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required name="password" type="password" class="form-control" id="password"
                        placeholder="Password">
                </div>
                <div class="form-group">
                    <button id="loginbtn" name="login" type="submit" class="btn btn-primary">Log In</button>
                    <button id="signupbtn" name="signup" style="margin-right: 3%;" type="submit"
                        class="btn btn-secondary">Sign
                        Up</button>
                </div>
            </div>

        </fieldset>

    </div>

    <script>

        let loginForm = document.getElementById("loginform");

        let userName = document.getElementById("username");
        let passWord = document.getElementById("password");

        let submitBtn = document.getElementById("loginbtn");
        let signUpBtn = document.getElementById("signupbtn");

        submitBtn.onclick = () => {
            fetch(`${'<%=host%>'}/api/login`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: userName.value, password: passWord.value })
            })
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                    if (result.message == "Success!")
                        window.location.href = result.redirect;
                    else if (result.message == "Fail") alert("Username or password is wrong");
                })
        };

        /* NOT IMPLEMENTED YET!! ALSO API/SIGNUP SHOULD BE IMPLEMENTED !! */
        /* .THEN FUNCTION MIGHT NOT BE WORKING PROPERLY IN THE 2 POST METHODS */
        signUpBtn.onclick = () => {
            console.log("sign up button is clicked");
            fetch(`${'<%=host%>'}/api/login/new`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: userName.value, password: passWord.value })
            })
                .then(response => response.json())
                .then(result => {
                    console.log(result);
                    if (result.message == "AlreadyExists!") alert("User already exists!");
                    else if (result.message == "Registered") alert("Successfully registered!");
                })
        };


    </script>


</body>

</html>